<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipselabs.xdiagram.provider.ImageProvider"
            id="ImageProvider">
      </imageProvider>
   </extension>
</plugin>
