<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin >
<extension point="org.eclipse.graphiti.ui.diagramTypes" >
<diagramType id="conceptualmodelDiagramType" name="Conceptual Diagram" type="conceptualmodel" />
</extension>


 <extension
	         point="org.eclipse.graphiti.ui.imageProviders">
	      <imageProvider
	            class="pt.iscte.xdiagram.interpreter.XDiagramImageProvider"
	            id="org.eclipselabs.xdiagram.examples.conceptualmodel.imageProvider">
	      </imageProvider>
	   </extension>


<extension point="org.eclipse.graphiti.ui.diagramTypeProviders" >
<diagramTypeProvider class="pt.iscte.xdiagram.interpreter.XDiagramTypeProvider" id="conceptualmodelDiagramProvider" name=" Type Provider" >
<diagramType id="conceptualmodelDiagramType" />
<imageProvider
      id="org.eclipselabs.xdiagram.examples.conceptualmodel.imageProvider">
</imageProvider>
</diagramTypeProvider>
</extension>


<extension point="pt.iscte.xdiagram.interpreter.providers" >
<provider diagramType="conceptualmodel" ePackageURI="http://org.eclipselabs.xdiagram.examples/ConceptualModel" provider="pt.iscte.xdiagram.provider.LanguageProvider" >
<property id="file" value="conceptualmodel.xdia" />
</provider>
</extension>
</plugin>
