<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    <copyright>
   
    Copyright (c) 2005, 2010 SAP AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       SAP AG - initial API, implementation and documentation
       mwenz - Bug 341898 - Support for AdvancedPropertySheet
   
    </copyright>
   
 -->

<plugin>
   <extension-point id="providers" name="Providers" schema="schema/providers.exsd"/>

   
   
 
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
	    <propertyContributor contributorId="xdiagram.PropertyContributor">
	        <propertyCategory category="xdiagram">
	        </propertyCategory>
	    </propertyContributor>
	</extension>
	 
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	    <propertyTabs contributorId="xdiagram.PropertyContributor">
	        <propertyTab label="Main" category="xdiagram" id="xdiagram.main.tab">
	        </propertyTab>
	        
	        <!--
	        Defines a property sheet tab for the Eclipse tabbed property sheet for EReferences.
	        
			<propertyTab
				category="xdiagram"
				id="xdiagram.table.tab"
				label="Table">
			</propertyTab>
			-->
	    </propertyTabs>
	</extension>
	 
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertySections">
	    <propertySections contributorId="xdiagram.PropertyContributor">
	        <propertySection tab="xdiagram.main.tab"            
	         class="org.eclipselabs.xdiagram.interpreter.internal.PropertyNodeSection"
	         filter="org.eclipselabs.xdiagram.interpreter.internal.PropertyNodeFilter"
	         id="xdiagram.main.tab.emfclass">
	        </propertySection>
	        
	        <!--
	        Defines a standard (table format) property sheet section using the table property sheet
	        integration into the Eclipse tabbed property sheet for EReferences.
	       
			<propertySection
				class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
				filter="org.eclipse.graphiti.examples.tutorial.property.TutorialEReferenceFilter"
				id="xdiagram.main.tab.emfreference.table"
				tab="xdiagram.table.tab">
			</propertySection>
			 -->
	    </propertySections>
	</extension>
 



	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.eclipse.graphiti.examples.tutorial.definitions.OneEClassesNodeSelected">
			<and>
				<count value="1" /> 
				<iterate ifEmpty="false" operator="and">
					<instanceof value="org.eclipse.graphiti.examples.common.navigator.nodes.EClassesNode" /> 
				</iterate>
			</and>
		</definition>
	</extension>

	<!--
	Registers an Eclipse adapter factory to provide IPropertySource objects for the GraphitiConnectionEditPart
	that gets selected in the DiagramEditor to provide a standard (table format) property sheet for EReference
	objects.
	
	<extension
       point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart"
			class="org.eclipse.graphiti.examples.tutorial.property.GraphitiEditPartToIPropertySourceAdapterFactory">
			<adapter
				type="org.eclipse.ui.views.properties.IPropertySource">
			</adapter>
		</factory>
	</extension>
	-->
 <extension
       point="org.eclipse.emf.transaction.editingDomains">
    <editingDomain
          factory="org.eclipselabs.xdiagram.interpreter.internal.EMFEditingDomainFactory"
          id="org.eclipselabs.xdiagram.editingDomain1">
    </editingDomain>
 </extension>
</plugin>
 
